#canteiro {
  display: grid;
  grid-template-columns: 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px;
  grid-template-rows: 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px;
  float: left;
}

.quadrado {
  border: 1px solid black;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#dormir {
  float: right;
  font-size: 20px;
  padding: 10px;
}

#vendedor {
  float: left;
}

#pa {
  float: left;
  margin-left: 10px;
  height: 48px;
}

#balde {
  float: left;
  margin-left: 10px;
  height: 48px;
}

#cursor-pa {
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  display: none;
}

.popup {
  display: none;
  position: fixed;
  top: 40%;
  left: 45%;
  background: white;
  padding: 20px;
  border: 1px solid black;
}

.fechar {
  float: right;
  cursor: pointer;
  font-size: 40px;
  font-weight: bold;
  color: red;
}

.muda-inventario {
  cursor: pointer;
  margin: 2px;
  border: 2px solid transparent;
}

.muda-inventario.selecionada {
  background-color: lightblue;
}
